<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <% result.forEach(function(user){ %>

        <form action="/up/<%= user.id %>" method="post">

            Name: <input type="text" value="<%= user.name %>" name="name"><br><br>
            contact: <input type="text" value="<%= user.contact %>" name="contact"><br><br>
            <input type="submit" value="update" name="save">
        </form>
        <% }) %>
    </body>
</html>