<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login page</title>
        <style>
            .input_btn{
                background-color: rgb(205, 225, 255);
                margin: 5px;
                padding: 8px 20px;
                font-weight: bold;
                border-radius: 5px;
            }
            form{
                width: 270px;
                margin: 200px 500px;
                padding: 30px;
                text-align: center;
                font-weight: bolder;
                border: 1px solid black;
            }
            </style>
    </head>
    <body>

        <form action="/loginuser" method="post">

            Email Id: <input type="email" name="email"><br><br>
            password: <input type="password" name="password"><br><br>
            <input type="submit" value="login" name="save" class="input_btn">
        </form>
    </body>
</html>